# .dockerignore
.github
node_modules
.husky
.DS_Store
dist
coverage
logs
tmp
.cache
build
.git
.gitignore
.gitattributes
.prettierrc.json
.prettierignore
.prettierrc.js
.eslintrc.js
.eslint.config.js
.eslintrc.json
.eslintignore
.vscode-test
.vscode
.idea
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log
yarn-error.log
